{% extends 'profiles/base.html' %}

{% block title %}My Job Postings{% endblock %}

{% block content %}
<h2>My Job Postings</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Salary</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for job in job_postings %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.salary }}</td>
            <td>{{ job.deadline }}</td>
         
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
