<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Sent</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
</head>
<body>
    <nav class="navbar">
       
    </nav>
    <div class="container">
        <h1>Verification Email Sent</h1>
        <p>Please check your email inbox and click the verification link to activate your account.</p>
        
    </div>
</body>
</html>
