

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h1>Password Reset</h1>
           

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send Reset Link</button>
            </form>

            {% if form.errors %}
                <div class="error-messages">
                    <p>{{ form.errors.email }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
