<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Job Recruitment Portal{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar">
        <ul class="navbar-right">
            <li><a href="{% url 'users:dashboard' %}">Home</a></li>
            {% if request.user.is_authenticated and request.user.role == 'job_seeker' %}
            <li class="dropdown">
                <a href="{% url 'employer:notifications' %}" class="btn btn-primary" id="notificationDropdown">
                    Notifications
                   
                   
                </a>
                <ul class="dropdown-menu" aria-labelledby="notificationDropdown" id="notifications-dropdown">
                    <li class="dropdown-header"></li>
                    <!-- Dynamic notifications will be added here -->
                    {% if notifications %}
                        {% for notification in notifications %}
                            {% if not notification.is_read %}
                                <li class="notification-item">{{ notification.message }} - {{ notification.created_at }}</li>
                            {% endif %}
                        {% endfor %}
                 
                    {% endif %}
                </ul>
            </li>
        {% endif %}



          
<li><a href="{% url 'employer:job-posting-list' %}">View Job Listings</a></li>

            <!-- Check if the user is authenticated and has a profile -->
            {% if request.user.is_authenticated %}
                {% if request.user.role == 'job_seeker'%}
               
                    <!-- Check if the user has a job seeker profile -->
                    {% if request.user.jobseekerprofile %}
                        <li><a href="{% url 'users:show-profile' request.user.jobseekerprofile.id %}">Profile</a></li>
                    {% else %}
                        <li><a href="{% url 'profiles:jobseekerprofile-create' %}">Create Profile</a></li>
                    {% endif %}
                {% elif request.user.role == 'employer' %}
                    <!-- Employer specific options -->
                    <li><a href="{% url 'employer:employerprofile-detail' request.user.employerprofile.id %}">My Company Profile</a></li>
                    <li><a href="{% url 'users:dashboard' %}">Home</a></li>
                    <li><a href="{% url 'employer:job-posting-create' %}">Post a Job</a></li>
                {% endif %}
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Main content -->
    <div class="content">
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
