{% extends 'profiles/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">

  
  <div class="profile-grid-container">
    {% for pet in pet_profiles %}
      <div class="profile-grid-item">
        <!-- Minimal Profile Image -->
        <div class="profile-img">
          <img src="{{ pet.profile_photo.url }}" alt="{{ pet.name }}'s profile photo">
        </div>
        
        <!-- Pet's Name and Owner Username -->
        <div class="profile-info">
          <h2 class="pet-name"><a href="{% url 'users:show-profile' pet.id %}">{{ pet.name }}</a></h2>
          <p class="owner-name">{{ pet.owner.username }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
